/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.json
composer.lock
public/vendor/adminlte
config/adminlte.php
public/vendor/bootstrap
public/vendor/fontawesome-free
public/vendor/jquery
public/vendor/overlayScrollbars
public/vendor/popper
